.add-service{
    background-color: #F4F7FC;
    width: 100%;
    min-height: 90vh;
    margin: 0 !important;
    padding: 30px;
}
.add-service-bg{
    padding: 30px;
    background-color: white;  
    border-radius: 20px;
}
.add-service-btn{
    margin-top: 1rem;
    background-color: #009444 !important;
    border: none !important;
    padding: 8px 25px !important;
}