.brand-button{
  text-transform: none;
  background-color: black;
  color: white;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
}
.brand-text-color{
  color: #7AB259;
}
.brand-logo{
  height: 70px;
}